{{set . "title" "Daftar Tulisan"}}

{{template "header.html" .}}

<section class="page-content">
{{ range .posts }}
<article class="post">
	<section class="info">
		<figure style="background-image: url({{ .Author.Photo }});" class="author-pic"></figure>
		<div class="data">
			<a href="" class="author-name">{{ .Author.Name }}</a>
			<a href="" class="post-category">kategori: {{ (index .Categories 0).Heading }}</a>
		</div>
		<div class="date">
			{{ date .UpdatedAt }}
		</div>
	</section>
	<h1 class="title">{{ .Title }}</h1>
	<section class="preview-content">
		{{ .FirstParagraph }}
	</section>
	<section class="readmore">
		<a href="{{ url "App.Post" .ID .TitleSlug }}">baca selengkapnya...</a>
	</section>
</article>

<hr class="seperator">

{{ end }}
</section>

<section class="post-paging">
	<ul class="pagination">
		<li {{ if not .prevPage }} class="disabled" {{ end }}><a href="{{ url "App.PostList" .prevPage }}">&lt;&lt; Sebelumnya</a></li>
		<li class="menu"><a href="#">Navigasi</a></li>
		<li {{ if not .nextPage }} class="disabled" {{ end }}><a href="{{ url "App.PostList" .nextPage }}">Berikutnya &gt;&gt;</a></li>
	</ul>
</section>

{{template "footer.html" .}}