{{set . "title" "Para Penulis di Obrolan Subuh"}}

{{template "header.html" .}}

<section class="page-content" id="writers-profile">
	{{ range .writers }}
		<div class="mdl-card mdl-shadow--2dp writer-profile">
			<div class="mdl-card__title">
				<h2 class="mdl-card__title-text">{{ .Name }}</h2>
				<figure class="writer-photo">
					<img src="{{ .Photo }}">
				</figure>
			</div>
			<div class="mdl-card__supporting-text">
				{{ .About }}
			</div>
			<div class="mdl-card__actions mdl-card--border">
				<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
					Lihat Semua Tulisan
				</button>
			</div>
		</div>
	{{ end }}
</section>

{{template "footer.html" .}}