{{set . "title" "Para Penulis di Obrolan Subuh"}}

{{template "header.html" .}}

<section class="page-content">
	<h1 class="title">Para Penulis di Obrolan Subuh</h1>

	<p>Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec id elit non mi porta gravida at eget metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>

	<p>Berikut adalah para penulisnya:</p>

	<section id="writers-profile">
		{{ range .writers }}
			<div class="mdl-card mdl-shadow--2dp writer-profile">
				<div class="mdl-card__title">
					<h2 class="mdl-card__title-text">{{ .Name }}</h2>
					<figure class="writer-photo" style="background-image: url({{ .Photo }});">
					</figure>
				</div>
				<div class="mdl-card__supporting-text">
					{{ .About }}
				</div>
				<div class="mdl-card__actions mdl-card--border">
					<a href="{{ url "App.WritersPosts" .Handle }}">
					<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
						Lihat Semua Tulisan
					</button>
					</a>
				</div>
			</div>
		{{ end }}
	</section>
</section>

{{template "footer.html" .}}