{{set . "title" (printf "Tulisan %s di ObrolanSubuh" .writer.Name)}}

{{template "header.html" .}}

<section class="writer-profile">
	<figure style="background-image: url({{ .writer.Photo }});"></figure>
	<h2>{{ .writer.Name }}</h2>
	<p>{{ .writer.About }}</p>
</section>

<div class="seperator">
	<span>Karya di Obrolan Subuh</span>
</div>

<section class="page-content">
	{{template "App/partials/PostList.html" .}}
</section>

<section class="post-paging">
	<ul class="pagination">
		<li {{ if not .prevPage }} class="disabled" {{ end }}><a href="{{ url "App.WritersPosts" .writer.Handle .prevPage }}">&lt;&lt; Sebelumnya</a></li>
		<li class="menu"><a href="#">Navigasi</a></li>
		<li {{ if not .nextPage }} class="disabled" {{ end }}><a href="{{ url "App.WritersPosts" .writer.Handle .nextPage }}">Berikutnya &gt;&gt;</a></li>
	</ul>
</section>

{{template "footer.html" .}}