{{set . "title" "Para Penulis di Obrolan Subuh"}}

{{template "header.html" .}}

<section class="page-content">
	<h1 class="title">Para Penulis di Obrolan Subuh</h1>

	<article class="post">
		<p>Sebagai tempat berkumpulnya orang-orang yang suka berdiskusi, Obrolan Subuh memiliki 
		penulis-penulis yang datang dari berbagai later belakang. Idealis, humoris, filusuf, dan
		berbagai campuran unik lainnya kami kumpulkan untuk saling ngobrol di sini.</p>

		<p>Mari datang dan bergabung untuk diskusi dengan kami:</p>
	</article>

	<section id="writers-profile">
		{{ range .writers }}
			<div class="mdl-card mdl-shadow--2dp writer-profile">
				<div class="mdl-card__title">
					<h2 class="mdl-card__title-text">{{ .Name }}</h2>
					<figure class="writer-photo" style="background-image: url({{ .Photo }});">
					</figure>
				</div>
				<div class="mdl-card__supporting-text">
					{{ .About }}
				</div>
				<div class="mdl-card__actions mdl-card--border">
					<a href="{{ url "App.WritersPosts" .Handle }}">
					<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
						Lihat Semua Tulisan
					</button>
					</a>
				</div>
			</div>
		{{ end }}
	</section>
</section>

{{template "footer.html" .}}