{{set . "title" (printf "Tulisan %s di ObrolanSubuh" .writer.Name)}}

{{template "header.html" .}}

<section class="writer-profile">
	<figure style="background-image: url({{ .writer.Photo }});"></figure>
	<h2>{{ .writer.Name }}</h2>
	<p>{{ .writer.About }}</p>
</section>

<div class="seperator">
	<span>Karya di Obrolan Subuh</span>
</div>

<section class="page-content">
{{ range .posts }}
<article class="post">
	<section class="info">
		<figure style="background-image: url({{ .Author.Photo }});" class="author-pic"></figure>
		<div class="data">
			<a href="{{ url "App.WritersPosts" .Author.Handle }}" class="author-name">{{ .Author.Name }}</a>
			<a href="" class="post-category">kategori: {{ (index .Categories 0).Heading }}</a>
		</div>
		<div class="date">
			{{ date .UpdatedAt }}
		</div>
	</section>
	<h1 class="title">{{ .Title }}</h1>
	<section class="preview-content">
		{{ .FirstParagraph }}
	</section>
	<section class="readmore">
		<a href="{{ url "App.Post" .ID .TitleSlug }}">baca selengkapnya...</a>
	</section>
</article>

<hr class="seperator">

{{ else }}
<p>Belum ada tulisan dari {{ .writer.Name }}.</p>
{{ end }}
</section>

<section class="post-paging">
	<ul class="pagination">
		<li {{ if not .prevPage }} class="disabled" {{ end }}><a href="{{ url "App.WritersPosts" .writer.Handle .prevPage }}">&lt;&lt; Sebelumnya</a></li>
		<li class="menu"><a href="#">Navigasi</a></li>
		<li {{ if not .nextPage }} class="disabled" {{ end }}><a href="{{ url "App.WritersPosts" .writer.Handle .nextPage }}">Berikutnya &gt;&gt;</a></li>
	</ul>
</section>

{{template "footer.html" .}}