<!DOCTYPE html>

<html>
    <head>
        <title>{{.title}}</title>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">

        <!-- Normalize -->
        <link rel="stylesheet" href="/public/css/normalize.css">

        <!-- Material Design Lite -->
        <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.indigo-pink.min.css" /> 
        <script src="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.min.js"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <!-- Site CSS -->
        <link rel="stylesheet" href="/public/css/frontend.css">
        <link rel="stylesheet" href="/public/css/frontend-responsive.css" media="all and (max-width: 480px)">

        {{range .moreStyles}}
            <link rel="stylesheet" type="text/css" href="/public/{{.}}">
        {{end}}
    </head>

    <body>
        <header id="page-header" {{ if .isLanding }} class="landing-header" {{ end }}>
            <h1 id="page-title">
                <a href="/">Obrolan Subuh</a>
            </h1>

            <nav id="main-nav">
                <ul>
                    <li><a href="{{ url "App.Posts" }}">Tulisan</a></li>
                    <li><a href="{{ url "App.Writers" }}">Penulis</a></li>
                    <li><a href="{{ url "App.About" }}">Tentang Kami</a></li>
                </ul>
            </nav>
        </header>

        <main id="content-container">