<!DOCTYPE html>

<html>
    <head>
        <title>{{.title}}</title>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Facebook Graph -->
        <meta property="og:url"           content="{{ .ogurl }}" />
        <meta property="og:type"          content="website" />
        <meta property="og:title"         content="{{ .ogtitle }}" />
        <meta property="og:image"         content="{{ .ogimg }}" />

        <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png?v=2">

        <!-- Material Design Lite -->
        <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.indigo-pink.min.css" /> 
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <!-- Site CSS and Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=EB+Garamond|PT+Sans+Caption:700" type="text/css">
        <link rel="stylesheet" href="/public/dist/css/obrolansubuh-frontend.min.css">

        <!-- Google Analytics -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'GA-KEY', 'auto');
            ga('send', 'pageview');

        </script>

        {{range .moreStyles}}
            <link rel="stylesheet" type="text/css" href="/public/{{.}}">
        {{end}}

        {{template "headScripts"}}
    </head>

    <body>
        <header id="page-header" {{ if .isLanding }} class="landing-header" {{ end }}>
            <h1 id="page-title">
                <a href="/">Obrolan Subuh</a>
            </h1>

            <nav id="main-nav">
                <ul>
                    <li><a href="{{ url "App.Posts" }}">Tulisan</a></li>
                    <li><a href="{{ url "App.Writers" }}">Penulis</a></li>
                    <li><a href="{{ url "App.About" }}">Tentang Kami</a></li>
                </ul>
            </nav>
        </header>

        <main id="content-container">
